@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-wiig4c');
	src:url('fonts/icomoon.eot?#iefix-wiig4c') format('embedded-opentype'),
		url('fonts/icomoon.woff?-wiig4c') format('woff'),
		url('fonts/icomoon.ttf?-wiig4c') format('truetype'),
		url('fonts/icomoon.svg?-wiig4c#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-3DGlasses:before {
	content: "\e600";
	 display: inline;
    position: relative;
}

.icon-Key:before {
	content: "\e601";
	display: inline;
    position: relative;
    position: relative;
    color: black;
    font-size: 36px;
}

.icon-Gmail:before {
	content: "\e602";
	display: inline;
    position: relative;
}

.icon-Pic:before {
	content: "\e603"; 
	display: inline;
    position: relative;
}

.icon-Watch:before {
	content: "\e604";
	 display: inline;
    position: relative;
}

.icon-Dollar:before {
	content: "\e605";
	 display: inline;
    position: relative;
}

.icon-Facebook:before {
    content: "\e606";
    display: inline;
    position: relative;
    color: black;
    font-size: 36px;
}

.icon-Profile:before {
    content: "\e607";
    display: inline;
    position: relative;
    color: black;
    font-size: 36px;
}

.icon-Fanfiction:before {
    content: "\e608";
    display: inline;
    position: relative;
    color: black;
    font-size: 36px;
}
/* Page specific styles */

* {
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */	
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

body {
	font-size: 100%;
	/* base font size 16px */
	background-color: red;
	margin: 0;
	font-family: arial, sans-serif;
	text-decoration: none;
}

/* Headline */

.headline {
	text-align: center;
	padding: 20px;
	font-size: 36px;
}



@media (min-width: 768px) {
	.headline {
		font-size: 48px;
	}
}

@media (min-width: 1024px) {
	.headline {
		font-size: 64px;
	}
}


/*  PORTFOLIO - LIST - % */

.portfolio-list--percent {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
}

@media (min-width: 768px) {
	.portfolio-list--percent {
		/*width: 586px;*/
		width: 76.30208333%;
	}	
}

@media (min-width: 1024px) {
	.portfolio-list--percent {
		/*width: 984px;*/
		width: 96.09375%;
		max-width: 1200px;
	}	
}

/*  PORTFOLIO - ITEM - % */

.portfolio-link--percent {
	/*width: 210px;*/
	width: 65.625%;
	height: 150px;
	margin: 6.25% auto;
	background: #d8d8d8;
	display: block;	
}

@media (min-width: 768px) {
	.portfolio-link--percent {
		/*width: 253px;*/
		width: 43.14381271%;
		height: 180px;
		float: left;
		/*margin: 20px;*/
		margin: 3.412969283%;
	}
}

@media (min-width: 1024px) {
	.portfolio-link--percent {
		/*width: 288px;*/
		width: 29.26829268%;
		height: 206px;
		margin: 2.032520325%;
	}	
}

a {
	color: red;
}

span {
	padding: 20px;
}

.video1 {
	background: url("Skyrim-image.jpg");
	background-size: cover;
}

.video2 {
	background: url("organic.jpg");
}

.video3 {
	background: url("green hazard.jpg");
	background-size: cover;
}

.video4 {
	background: url("Werewolf_HD.jpg");
	background-size: cover;
}

.video5 {
	background: url("slenderman.jpg");
	background-size: cover;
}